:root {
  font-family: "Roboto Mono", serif;;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --gap: 16px;
  --almost-white: #F6F6F6;
  --almost-black: #2B2B2B;
  --text-black: #0B0B0B;
  --green: #4caf50;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--almost-white);
  color: var(--text-black);
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

}
